*{
    margin: 0;
    padding: 0;

}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(/assets/pics/img1.png);
    background-position: center;
    background-size: cover;
    padding-left:  5%;
    padding-right:  5%;
    box-sizing: border-box;
    position: relative;
    background-color: crimson;

}

.sea{
    text-align: center;
    padding: 20px;

}

.sea h1{
    padding: 20px;
    font-weight: bold;
    color: crimson;
}

.sea p{
    padding: 20px;
    font-weight: bold;
    
}
