<!DOCTYPE html>
<html>

<head>
  <title> index </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container"> 
        <div class="sea">
            <h1>Underwater Ocean</h1>
            <p>This draft is for the Fifth W3C Security WG Meeting on January 22, 1996. Future revisions will be made available as public W3C Working Drafts. Distribution of this draft is restricted to attendees and W3C Member organizations ONLY at this time.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/pics/img4.jpg" class="card-img-top" alt="..." style="padding: 20px; padding-top: 20px; border-radius: 30px;">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/pics/img5.jpg" class="card-img-top" alt="..." style="padding: 20px; padding-top: 20px; border-radius: 30px;">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/pics/img6.jpg" class="card-img-top" alt="..." style="padding: 20px; padding-top: 20px; border-radius: 30px;">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

            </div>

        </div>      

        

    </div>
</body>
</html>
